@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


body {
  font-family: 'Handlee', cursive;
  color: white;
}

.startPage {
  background: rgba(45, 45, 45, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.title {
  font-size: 82px;
  color: rgba(255, 0, 0, 1);
}

.totalData {
  font-size: 64px;
}

.totalData p {
  margin-bottom: 40px;
}

.startButton span {
  font-size: 50px;
  position: absolute;
  transform: translate(-277px, 37px);
  cursor: pointer;
}

.questionPage {
  background: rgba(45, 45, 45, 1);
}

.correct {
  background: rgba(0, 191, 99, 1);
}

.wrong {
  background: rgba(250, 0, 0, 1);
}

button {
  background-color: transparent;
}