@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


body {
  font-family: 'Handlee', cursive;
  color: white;
}

.startPage {
  background: rgba(45, 45, 45, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.title {
  font-size: 70px;
  color: rgba(255, 0, 0, 1);
  line-height: 15.7px;
}

.totalData {
  font-size: 64px;
}

.totalData p {
  margin-bottom: 40px;
}

.startButton span {
  font-size: 50px;
  position: absolute;
  transform: translate(-277px, 37px);
  cursor: pointer;
}

.questionPage {
  background: rgba(45, 45, 45, 1);
}

.correct {
  background: rgba(0, 191, 99, 1);
}

.wrong {
  background: rgba(250, 0, 0, 1);
}

button {
  background-color: transparent;
}

.resultPage {
  display: flex;
    flex-direction: row;
    height: 100vh;
    background: rgba(45, 45, 45, 1);
    justify-content: space-around;
    align-items: center;
}

.final {
  font-size: 44px;
  text-align: center;
  height: 650px;
  padding-top: 100px;
}
.data {
  margin-top: 30px;
}

.data div{
  margin-bottom: 30px;
}

.allQuestion {
  font-size: 34px;
  text-align: center;
  height: 650px;
  padding-top: 100px;
}

.questionResult {
  width: 300px;
  margin: 0 auto;
}

.headerUnderLine {
  margin-bottom: 25px;
}

.answer {
  float: right;
}
.restartButton button {
  width: 447px;
  height: 139px;
  background-image: url(./constants/icons/ellipse.svg);
  background-repeat: norepeat;
  border: none;
  font-size: 60px;
}